{% extends 'main/base.html' %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Мои рассылки</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a href="{% url 'main:create_mailing'%}"> <button class="btn btn-warning">Создать</button></a>
          </div>
        </div>
      </div>

      <h2>Список</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
                <thead>
                <tr>
                  <th>id</th>
                  <th>тема письма</th>
                  <th>время отправки</th>
                  <th>клиент</th>
                    <th>статус</th>
                </tr>
                </thead>
            {% for object in object_list %}
              <thead>
                <tr>
                    <th><a href="{% url 'main:mailing_detail' pk=object.pk %}">{{object.pk}}</a></th>
                    <th><a href="{% url 'main:mailing_detail' pk=object.pk %}">{{ object.subject }}</a></th>
                  <th>{{ object.send_time }}</th>
                    <th>
                      {% if object.clients.exists %}
                        {% for client in object.clients.all %}
                          {{ client }}<br>
                        {% endfor %}
                      {% else %}
                        No clients assigned
                      {% endif %}
                    </th>
                    <th>{{ object.status }}</th>
                </tr>
              </thead>
            {% endfor %}
        </table>
      </div>
    </main>

{% endblock %}